<%- include('includes/head.ejs') %> <%- include('includes/navbar.ejs') %>
<main>
  <h1>My Products</h1>
  <% if (products.length !== 0) { products.forEach(product => { %>
  <div><%= product.title %></div>
  <% }) } else { %>
  <div>No products added yet</div>
  <% } %>
</main>
<%- include('includes/end.ejs') %>
