body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-header {
  height: 3.5rem;
  background-color: peru;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.main-header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-header__list,
.main-header__user-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-header__list-item,
.main-header__user-nav-item {
  margin: 0;
  padding: 0 1rem;
}
.main-header__list-item a:hover,
.main-header__list-item a:active,
.main-header__list-item.active a,
.main-header__user-nav-item a:hover,
.main-header__user-nav-item a:active,
.main-header__user-nav-item.active a {
  color: #143680;
}
.main-header__list-item a,
.main-header__user-nav-item a {
  text-decoration: none;
  color: white;
}

main {
  padding: 1rem;
}

.product-form,
.login-form,
.signup-form,
.reset-form {
  width: 500px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  padding: 5px;
  border: 1px solid black;
}

.product {
  width: 40%;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 2px;
  text-align: center;
}

.product__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product__title {
  font-size: 20px;
  margin: 5px 0;
}

.product__price {
  font-size: 20px;
  margin: 5px 0;
}

.product__image-wrapper {
  height: 400px;
  display: flex;
  align-items: center;
}

.product__image {
  max-width: 100%;
  max-height: 100%;
}

.product__description {
  text-align: center;
}

.product__button {
  text-decoration: none;
  border: 1px solid gray;
  color: black;
  border-radius: 3px;
  padding: 6px;
}

.product__button:hover {
  color: white;
  background-color: gray;
}

.centered {
  text-align: center;
}

main {
  width: 980px;
  margin: 0 auto;
}

.products {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}
